[submodule "ftplugin/python/mccabe"]
	path = ftplugin/python/mccabe
	url = https://github.com/flintwork/mccabe.git
[submodule "ftplugin/python/autopep8"]
	path = ftplugin/python/autopep8
	url = https://github.com/hhatto/autopep8.git
[submodule "ftplugin/python/pycodestyle"]
	path = ftplugin/python/pycodestyle
	url = https://github.com/PyCQA/pycodestyle.git
[submodule "ftplugin/python/frosted"]
	path = ftplugin/python/frosted
	url = https://github.com/timothycrosley/frosted.git
[submodule "ftplugin/python/pies"]
	path = ftplugin/python/pies
	url = https://github.com/timothycrosley/pies.git
